<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="encabezado(titulo)">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title th:text="${titulo}">Sistema Biblioteca</title>
    <link rel="icon" type="image/png" th:href="@{/imagenes/libro-16.png}" />
    <link th:href="@{/css/estyles.css}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
</html>